/recordings/
/labels/
/images/
/dataset/*
/datasets/*
/detections/*
/dataset/positives/
/dataset/negatives/
/dataset/train/
.env
.venv_audio/
/audio_recordings/
/training_data/
/dataset_raw/
/training_data_split/
.venv/